.app {
  font-size: 1.6rem;
  @media screen and (max-width: 960px) {
    font-size: 1.4rem;
  }
  .aside {
    position: fixed;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    .logo {
      height: 3rem;
      margin: 1rem;
      line-height: 3rem;
      box-sizing: border-box;
      border-radius: 1rem;
      padding: 0 1rem;
      text-align: center;
      color: #fff;
      // background-color: #fff;
      // 字体省略
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      img {
        // height: 100%;
        width: 32px;
        height: 32px;
      }
      .img {
        cursor: pointer;
        margin-right: 6px;
      }
    }
  }

  .header {
    background-color: #fff;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    .right {
      display: flex;
      align-items: center;
    }
  }

  .content {
    padding-top: 1px;
    width: auto !important;
    margin-left: 1px;
  }

  .footer {
    text-align: center;
  }
}

/// 覆盖 antd 样式
.ant-layout-header {
  height: 50px;
  line-height: 50px;
}
